{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "implicit-arrow-linebreak": 0,
    "no-underscore-dangle": 0,
    "no-bitwise": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "eol-last": ["error", "always"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
